/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 18, 2015, 11:52:56 AM
    Author     : edpena
*/

body
{
    background-image: url("../media/bg.png");
}

h1
{
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 24px;
    margin-top: 15px;
    text-align: center;
}

h1 a { color: #888; text-decoration: none; }

.content
{
    position:absolute;
    top: 110px;
    right: 50px;
    z-index: 1;
}

a
{
    text-decoration: none;
}